body{
  background: url("wood.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
}

header {
    width: 100%;
    background: OliveDrab;
    height: 120px;
}

.title {
  font-size: 60px;
  font-style: italic;
  padding-top: 10px;
  text-align: center;
}

a:link{
  color: #3c4a10;
  text-decoration: none;

}

a:hover{
  color: #000000!important;
  text-decoration: none;
}

a:visited{
  color: #3c4a10;
  text-decoration: none;
}

#fixed {
  z-index:1;
 position:fixed;
 top: 0;
 left: 0;
 width: 100%;
}
.menu{
  position: relative;
  width: 240px;
  margin: 0 auto;
  top: 45px;
  left: 212px;
  z-index: 10;
}

.fixed2{
  position: relative;
  width: 240px;
  margin: 0 auto;
  top: 21px;
  right: 138px;

}

.menu li{
  display: inline;
  margin-right: 300px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.fixed2 li{
  display: inline;
  margin-right: 300px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.logo{
  position:relative;
  width: 240px;
  margin: 0 auto;
  top: -38px;
  right: -12px;
}

#content{
  width: 50%;
  position: absolute;
  left: 50%;
  top: 130px;

}

#content2{
  width: 50%;
  position: absolute;
  left: 50%;
  top: 130px;

}

#content h1{
  color: #5A4B31;
  font-family: sans-serif;
  position: relative;
  right: 75px;
  top: 40px;
  margin: auto;
  font-size: 26px;

}

.texter{
  font-family: sans-serif;
  position: relative;
  font-size: 28px;
  margin: auto;
  text-align: center;
  padding: 0!important;
  color: #262626;
}

#fixer{
  position: relative;
  width: 100%;
  top: 300px;
}

#content2 h1 {
  color: #5A4B31;
  font-family: sans-serif;
  position: relative;
  right: 255px;
  top: 40px;
  margin: auto;
  font-size: 26px;
}

#block1-fixed {
 position:absolute;
 top: 140px;
 left: 0;
 width: 100%;
 opacity: 0.9;
}
.block1{
width: 100% ;

margin-right: 10px;
margin-top: 0;
height: 500px;
top: 115px;
left: 405px;
background: Cornsilk;
}

section{
  position: absolute;
  top: 100px;
}


footer{
  background: Black;
  color: White;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0; left: 0;
  z-index: 3;
}

.footer-bg {
 background: #000;
}

.copyright {
 width: 550px;
 padding: 0 10px 10px;
 margin: auto;

 color: #526118;
 font-family: sans-serif;
}
.copyright p {
 font-size: 14.5px;
margin-top: 14;

}
.copyright p a {
  left: 100px;
}

.copyright a:hover{
  color: #BFBFBF!important;

}
